.my-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  
    .project1 {
      
      box-shadow: 0 4px 8px 0 rgba(230, 232, 227, 0.93);
      transition: 0.3s;
      width: 60%;
      max-width: 100%;
      height: auto;
      border-radius: 5px;
     margin-left: 40%;
    }
  
    .project2 {
      
      box-shadow: 0 4px 8px 0 rgba(230, 232, 227, 0.93);
      transition: 0.3s;
      width: 60%;
      max-width: 100%;
      height: auto;
      border-radius: 5px;
      margin-left: 10%;
    }
  
  
    p {
      .link1{
    
        margin-left: 65%;
        text-decoration: none;
        font-size: 16px;
        color: #444;
    
      }
    }
    p {
      .link2{
    
        margin-left: 35%;
        text-decoration: none;
        font-size: 16px;
        color: #444;
        top: 92%;
      }
    }
 }
 .my-projects1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;


    .project3{
      
      box-shadow: 0 4px 8px 0 rgba(230, 232, 227, 0.93);
      transition: 0.3s;
      width: 60%;
      max-width: 100%;
      height: auto;
      border-radius: 5px;
     margin-left: 40%;
    }
  
    .project4{
      
      box-shadow: 0 4px 8px 0 rgba(230, 232, 227, 0.93);
      transition: 0.3s;
      width: 60%;
      max-width: 100%;
      height: auto;
      border-radius: 5px;
      margin-left: 10%;
    }
  
  
    p {
      .link3{
    
        margin-left: 65%;
        text-decoration: none;
        font-size: 16px;
        color: #444;
    
      }
    }
    p {
      .link4{
    
        margin-left: 35%;
        text-decoration: none;
        font-size: 16px;
        color: #444;
        top: 92%;
      }
    }
 }
  