.theme-container {
  max-width: 1160px;
  margin: 0 auto;
  min-height: 100vh;
  .container{
    .project-container{
      display: flex;flex-direction: column;gap: 2rem;

    }
    .project-text{
      z-index: 2;
      grid-column: 1/ span 2;
      text-align: center;
    }
    .my-projects{
      display: grid;grid-template-columns: repeat(2, 1fr);gap: 2rem;
    }
    .project01{
      display: flex;flex-direction: column;
    }
    .projects{
      display: flex;flex-direction: column;
      gap: 2rem;
      z-index: 2;
    }
    .image-wrapper{
      img{
        display: block;
        max-width: 100%;
      }
    }
    .title-wrapper{
      display: flex;flex-direction: column;gap: 1rem;
    }
    h3{
      text-transform: uppercase;
    }
    .language{
      display: flex;gap: .5rem;
    }
    .language-text{
      text-transform:uppercase ;
      color: white;
    }
    .project-link{
      display: flex;gap: 3rem;
        a{
            text-decoration: 3px underline greenyellow;
            font-size: 16px;
            color: #EEEEEE;
        }
    }
    //.my-projects {
    //  display: flex;flex-direction: column;
    //  z-index: 1;

      //.my-project1 {
      //  position: relative;
      //  z-index: 1;
      //  box-shadow: 0 4px 8px 0 rgba(230, 232, 227, 0.93);
      //  transition: box-shadow 0.3s, transform 0.3s;
      //  width: 35%;
      //  max-width: 100%;
      //  border-radius: 5px;
      //  object-fit: cover;
      //}

      //h6 a {
      //  text-decoration: none;
      //  font-size: 16px;
      //  color: #EEEEEE;
      //  display: flex;
      //  align-items: center;
      //  justify-content: center;
      //}
      //
      //h6 a:hover {
      //  color: greenyellow;
      //  font-size: 20px;
      //  cursor: pointer;
      //}
      //
      //.project {
      //  display: flex;
      //  align-items: center;
      //  justify-content: center;
      //  z-index: 1;
      //}
      //
      //
      //.my-project1:hover {
      //  box-shadow: 0 8px 16px 0 rgba(230, 232, 227, 0.93);
      //  transform: translate(20px, 30px); /* Moves the element 20 pixels to the right and 30 pixels down */
      //  /* Adjust the values based on the desired movement */
      //}
    //}
  }
}


  
  @media screen and (max-width:1200px) {
      .my-projects{
        display: flex;
        flex-direction: column;
        
      .my-project1{
        width: 100%;
        margin-left: -5%;
        margin-top: 27%;
        object-fit: cover;
       }

      h6 a{
        text-decoration: none;
        font-size: 16px;
        color: #444;
        top: 55%;
        margin-left: -10%;
      } 
     }
  }
@media screen and (max-width:375px) {
  .my-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-left: 5%;
    margin-top: 5%;
    z-index: 1;
  
    .my-project1{
      position: relative;
      z-index: 1;
      box-shadow: 0 4px 8px 0 rgba(230, 232, 227, 0.93);
      transition: box-shadow 0.3s, transform 0.3s;
      width: 100%;
      max-width: 100%;
      border-radius: 5px;
      margin-top: 10%;
      object-fit: cover;
      margin-left: -9%;
    }

    h6 a { 
      text-decoration: none;
      font-size: 16px;
      color: #EEEEEE;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 48%;
      top: 77%;
  }
    
    h6 a:hover{
      color: greenyellow;
      font-size: 20px;
      cursor: pointer;
      }
    .project{
      margin-left: 0%;
      position: relative;
      z-index: 1;
      margin-top: 26%;
    }
  
}
}
  