.my-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
    .my-project1,
    .my-project2 {
      box-shadow: 0 4px 8px 0 rgba(230, 232, 227, 0.93);
      transition: box-shadow 0.3s, transform 0.3s;
      width: 35%;
      max-width: 100%;
      height: auto;
      border-radius: 5px;
      position: absolute;
    }
  
    .my-project1 {
      margin-left: -38%;
    }
  
    .my-project2 {
      margin-left: 45%;
    }
  
    .my-project1:hover,
    .my-project2:hover {
      box-shadow: 0 8px 16px 0 rgba(230, 232, 227, 0.93);
      transform: translate(20px, 30px); /* Moves the element 20 pixels to the right and 30 pixels down */
      /* Adjust the values based on the desired movement */
    }
  }

    span {
      .link1{
    
        margin-left: 19%;
        text-decoration: none;
        font-size: 16px;
        color: #444;
        top: 94%;
        position: absolute;
    
      }
    
      .link2{
    
        margin-left: -19%;
        text-decoration: none;
        font-size: 16px;
        color: #444;
        top: 94%;
        position: absolute;
      }

      .link1:hover,
      .link2:hover{
        transform: translate(20px, 30px);
        color: greenyellow;
        font-size: 20px;
      }

    }
 
 .my-projects1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;


    .project3{
      
      box-shadow: 0 4px 8px 0 rgba(230, 232, 227, 0.93);
      transition: 0.3s;
      width: 60%;
      max-width: 100%;
      height: auto;
      border-radius: 5px;
     margin-left: 40%;
    }
  
    .project4{
      
      box-shadow: 0 4px 8px 0 rgba(230, 232, 227, 0.93);
      transition: 0.3s;
      width: 60%;
      max-width: 100%;
      height: auto;
      border-radius: 5px;
      margin-left: 10%;
    }
  
  
    p {
      .link3{
    
        margin-left: 65%;
        text-decoration: none;
        font-size: 16px;
        color: #444;
    
      }
    }
    p {
      .link4{
    
        margin-left: 35%;
        text-decoration: none;
        font-size: 16px;
        color: #444;
        top: 92%;
      }
    }
 }
  