.home-container{
  display: flex;justify-content: center;align-items: center;
  max-width: 1024px;
  margin-inline: auto;
  min-height: 100vh;
}
.text-zone{
  font-size: 56px;
}
.profile-text {
  color: #fff;
  font-size: 56px;
  line-height: 53px;
  margin: 0;
  font-weight: 400;
}
.home-wrapper{
  display: flex;gap: 2rem;
}
.letter-logo-wrapper{
  display: flex;
  .text-animation{
    margin-top: auto;
  }
}
.my-logo {
   margin-left: 10px;
   width: 32px;
   animation: rotateIn 1s linear both;
   animation-delay: 1.4s;

 }

.home-page {
  display: flex;gap: 10rem;flex-wrap: wrap;
  justify-content: center;
  align-items: center;
    .text-zone {
      z-index: 2;
    }
  
    .flat-button {
      color: greenyellow;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 4px;
      font-family: sans-serif;
      text-decoration: none;
      padding: 10px 18px;
      border: 1px solid greenyellow;
      margin-top: 25px;
      float: left;
      white-space: nowrap;
      
  
      
      &:hover {
        background: greenyellow;
        transform: translateY(-10px);
        color: #333;
      }
    }
    .wrapper {
      display: grid;
      place-items: center;
    }
    
    .typing-demo {
      width: 19ch;
      animation: appear 15s linear 2s forwards, typing 3s steps(18), blink .5s step-end infinite alternate;
      white-space: nowrap;
      overflow: hidden;
      border-right: 3px solid;
      font-family: monospace;
      font-size: 24px;
      color:white;
    }
    
    @keyframes typing {
      from {
        width: 0
      }
    }
        
    @keyframes blink {
      50% {
        border-color: transparent
      }
    }
  }
 @media screen and (max-width: 768px){
   .home-container{
     display: unset;
   }
   .home-page{
     gap: 2rem;
   }
 }